*{
    margin: 0px;
    padding: 0px;
    font-family: arial;
    box-sizing: border-box;
}
.wrap{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
}
.upper-div{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 420px;
}
.lower-div{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 200px;
    background-color: green;
}
.chair-image{
    display: flex;
    flex-direction: row;
    flex-basis: 55%;
    background-image: url("mobile-image-hero-2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    gap: 1rem;

}
ul{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    list-style: none;
    padding-top: 8px;
    font-size: small;
    }
.logo{
    color: white;
    font-size: x-large;
}
.logo-mobile-div{
    display: none;
}
a{
    text-decoration: none;
    color: white;
}
.upper-text{
    display: flex;
    flex-direction: column;
    flex-basis: 45%;
    justify-content: center;
    gap: 2rem;
    margin-top: 5rem;
    margin-right: 2rem;
}
.upper-text-mobile{
    display: none;
}
.upper{
    align-self: center;
}
.textbody{
    font-size:x-small;
    line-height: 1.1rem;
}
.texthead{
    font-size: xx-large;
}
.action{
    
    letter-spacing: 1rem;
    }

.hor-scroll{
    display: flex;
    flex-direction: row;
    width: 35%;
    min-height: 60px;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
}
.left-lower-image{
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    background-color: gray;
    background-image: url("image-about-dark.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}
.lower-text{
    display: flex;
    flex-direction: column;
    flex-basis:39%;
    background-color: white;
    font-size: xx-small;
    gap: 0.5rem;
    line-height: 1rem;
    letter-spacing: 1px;
    padding-left: 3rem;    
    justify-content: center;    
}
.lower-textbody{
    width: 90%;
}

.right-lower-image{
    display: flex;
    flex-direction: column;
    flex-basis: 31%;
    background-color: gray;
    background-image: url("image-about-light.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
@media (max-width: 1024px){
    .lower-text{
        padding-left: 1rem;
        padding-top: 2px;
        }
        .no-display{
            display: none;
        }
    }
    @media (max-width: 640px){
        .wrap{
            gap: 1rem;
        }
        .upper-div{
            display: flex;
            flex-direction: column;
            min-height: 50rem;
            gap: 2rem;
        }
        .lower-div{
            display: flex;
            flex-direction: column; 
            min-height: 50rem;          
        }
        .chair-image{
            background-image: url("mobile-image-hero-1.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
        }
        .upper-text-mobile{
            display: initial;
            align-self: center;
            width: 95%;
            font-size: large;
            padding-bottom: 1rem;
        }
        .upper-text{
            display: none;
        }
        .mobile-textbody-upper
        {
            padding-top: 1rem;
            line-height:1.5rem;
            padding-bottom: 1rem;
        }
        ul{
            display: none;
        }
        .logo-mobile-div{
            display: flex;
            flex-direction: row;
            gap: 7rem;
            color: white;
            margin: 2rem;
        }
        .logo{
            display: none;
        }
        .fa-solid{
            display: initial;
        }
        .lower-text{
            display: flex;
            flex-direction: column;
            background-color: white;
            font-size: large;
            gap: 1rem;
            line-height: 1.5rem;
            padding-top: 1rem;   
            padding-bottom: 1rem;
        }
        .lower-textbody{
            width: 95%;
        }
        .lower-texthead{
            font-size: larger;
        }
        .hor-scroll-mobile{
            align-self: flex-end;
            justify-content: end;
            width: 20%;
            height: 35px;
            color: white;
            background-color: black;              
            padding: 10px;  
            margin-left: auto;                        
        }
      
    }